.buttonplate-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;    
    .buttonplate {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        border: 6px solid rgb(61, 63, 69);
        border-radius: 10px;

        width: 60px;
        height: 280px;
    
        background-color: rgb(156, 171, 177);
        .button {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: rgb(216, 216, 216);
    
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .button-current-floor {
            border: 3px solid #4CAF50;
        }
        .button-up {
            border: 3px solid #0057b7;
        }
        .button-down {
            border: 3px solid #ffd700;
        }
        .floor-counter {
            width: 30px;
            height: 20px;
            border-radius: 10%;
            background-color: #000;

            color: red;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media screen and (max-width: 660px) {
        .buttonplate {
            flex-direction: row-reverse;
            width: 280px;
            height: 60px;
        }
    }
}