$red: #F04F78;
$green: #0EAF9B;

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 660px) {
	.wrapper {
		flex-direction: column;
	}
}
@media screen and (max-width: 520px) {
	.wrapper {
		flex-direction: column;
	}
	.elevator-wrapper {
		svg {
			width: 400px;
			height: 400px;
		}
	}
}
@media screen and (max-width: 380px) {
	.wrapper {
		flex-direction: column;
	}
	.elevator-wrapper {
		svg {
			width: 300px;
			height: 300px;
		}
	}
}

.elevator-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RESET */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(243, 247, 244);
}

/* ANIMATIONS */
.left-door-open {
	animation: left-door-open 1s ease forwards;
}

@keyframes left-door-open {
	0% { transform: translateX(0); }
	100% { transform: translateX(-14px); }
}

.right-door-open {
    animation: right-door-open 1s ease forwards;
}

@keyframes right-door-open {
	0% { transform: translateX(0); }
	100% { transform: translateX(14px); }
}

.left-door-close {
	animation: left-door-close 1s ease forwards;
}

@keyframes left-door-close {
	0% { transform: translateX(-14px); }
	100% { transform: translateX(0); }
}

.right-door-close {
    animation: right-door-close 1s ease forwards;
}

@keyframes right-door-close {
	0% { transform: translateX(14px); }
	100% { transform: translateX(0); }
}

.floor-open {
	animation: light-to-green 0.5s ease forwards;
}
.floor-close {
	animation: light-to-red 0.5s ease forwards;
}

@keyframes light-to-red {
	0% { fill: $green; }
	100% { fill: $red; }
}

@keyframes light-to-green {
	0% { fill: $red; }
	100% { fill: $green; }
}

